@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-hover {
    position: relative;
    width: fit-content;
    text-decoration: none;
    font-size: 18px;
  }
  .link-hover::after {
    content: "";
    position: absolute;
    /* right: -0%; */
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #fed7aa;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  .link-hover:hover::after {
    width: 100%;

    left: 0;
    right: 0;
  }
  .before__link::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #ebb87e;
    border-radius: 30%;
    margin: 0 5px 0 5px;
  }
  .bg__sigin-page {
    position: fixed;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/shutterstock_1247473441-scaled.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 90%;
  }
  .input___auth {
    @apply w-[320px] px-3 py-2.5 rounded-lg opacity-45 focus:outline-none font-semibold text-xl text-zinc-900;
  }
  .home-page___background {
    background: url("/images/contemporary-black-house-exterior.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

body {
  background: #d6d6d6;
}
